.About {
    color: #ffc106;
    background-color: #6C757D;
    padding: 20px;
    border: 3px solid #6C757D;
    border-radius: 20px;
    
}

.About ul {
    padding: 0;
}

.About li {
    color: #ffc106;
    list-style: none;
    text-align: center;
}

.About p {
    padding-top: 0;
}

.About li .underline {
    text-decoration: underline;
    text-decoration-color: #788CB6;
    text-decoration-thickness: 3px;
    font-weight: 800;
}

.About .connect-link {
    color: #ffc106;
}

.About .connect-link:hover {
    color: #fff;
    transition: all 200ms ease-in-out;
}