.App {
  margin: 50px auto;
  max-width: 85%;
}

.App .appborder {
  border: 5px solid #FFC106;
  border-radius: 20px;
  padding: 30px;
}

.App small {
  display: block;
  text-align: center;
  padding-top: 5px;
}
