body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 0;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/061/726/original/joe-woods-4Zaq5xY5M_c-unsplash.jpg?1673079563");
    background-size: cover;
    display: block;
    padding: 100px 0;
    background-position: top right, center right;
    background-repeat: no-repeat;
}



