.Projects {
    margin-top: 40px;
    padding-bottom: 20px;
}

.Projects .card {
    background-color: #6C757D;
    color: #fff;
    margin-top: 10px;
}

.Projects .btn {
    box-shadow: 2px 3px 5px #000;
}